* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
  .col-md-4 {
    position: relative;
    width: 33.333333%;
    padding: 15px;
    &:hover .components-copy-btn{
      transform: scale(1);
    }
  }
  .col-md-6 {
    position: relative;
    width: 50%;
    padding: 15px;
    &:hover .components-copy-btn{
      transform: scale(1);
    }
  }
  .col-md-12 {
    position: relative;
    width: 100%;
    padding: 15px;
    &:hover .components-copy-btn{
      transform: scale(1);
    }
  }
}
.components-copy-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 6px 0.5px rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  cursor: pointer;
  transition: transform .1s ease;
  transform: scale(0);
}

// .unify-btn {
//   background-color: #42B549;
//   cursor: pointer;
//   position: relative;
//   border-radius: 4px;
//   font-weight: 600;
//   padding: 0 16px;
//   outline: none;
//   color: #fff;
//   border: 0;
//   font-size: 0.88571rem;
//   line-height: 16px;
//   height: 32px;
//   &--transparent {
//     background-color: transparent;
//     color: rgba(0, 0, 0, 0.56);
//     &-green{
//       color: #42B549;
//     }
//   }
// }

.unify-ripple-green {
  background-position: center;
  transition: background 0.8s;
  &:active {
    background: rgba(66, 181, 73, .2);
    background-size: 100%;
    transition: background 0s;
  }
}

.unify-card {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 6px 0.5px rgba(0, 0, 0, 0.12);
  &__image {
    display: block;
    &--top {
      width: 100%;
    }
    &--left {
      display: inline-block;
    }
  }
  &__content {
    &--left-icon, &--right-content, &--right-icon, &--left-content {
      display: inline-block;
      margin-right: -4px;
      vertical-align: middle;
    }
    &--left-icon, &--right-icon{
      width: 20%;
      & img{
        width: 80%;
      }
    }
    &--right-icon {
      text-align: right;
      &-expand {
        width: 15px;
        & img{
          width: 100%;
        }
      }
    }
    &--right-content, &--left-content{
      width: 80%;
      &-expand {
        width: calc(100% - 15px);
        padding-right: 15px;
      }
    }
    padding: 16px;
    &-title {
      margin-top: 0;
      font-size: 1.14286rem;
      color: rgba(0, 0, 0, 0.56);
      margin-bottom: 10px;
      font-weight: 600;
    }
    &-description {
      color: rgba(0, 0, 0, 0.54);
      font-size: 1rem;
      line-height: 1.5;
      margin: 0;
      &.expandable {
        // margin-top: 10px;
        display: none;
      }
    }
    &--expandable{
      padding: 16px;
    }
  }
  &__buttons {
    margin-top: 16px;
    &--right {
      text-align: right;
    }
    &-container {
      padding: 10px 16px;
    }
    &--block{
      button{
        display: block;
        margin-left: auto;
      }
    }
    .unify-icon {
      vertical-align: middle;
      width: 32px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .expandable {
    display: none;
    .unify-card__buttons {
      padding: 16px;
      padding-top: 0;
    }
  }
}

.unify-form-input__container {
  .unify-form-input {
    transition: all .3s ease;
    &[disabled] {
      background: #f1f1f1;
      cursor: not-allowed;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(0, 0, 0, .38);
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(0, 0, 0, .38);
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba(0, 0, 0, .38);
    }
    &__info {
      transition: transform .3s ease, opacity .3s ease;
      transform: translateY(0);
      opacity: 1;
      &--hidden {
        opacity: 0 !important;
        transform: translateY(100%);
      }
      &-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 3px;
      }
      font-size: 12px;
      opacity: .54;
      font-weight: 600;
      margin-top: 8px;
      &--error {
        opacity: 1;
        color: #E98667;
      }
      &--success {
        opacity: 1;
        color: #42B549;
      }
      &--counter {
        position: absolute;
        top: 5px; 
        right: 0;
        color: rgba(0,0,0, .3);
        font-weight: 600;
      }
    }
    &__label {
      opacity: .7;
      font-size: 13px;
      margin-bottom: 8px;
      font-weight: 600;
      transition: color .3s ease, opacity .3s ease;
      &--success {
        color: #42B549;
        opacity: 1;
      }
      &--error {
        color: #EB8D70;
        opacity: 1;
      }
    }
    &__text {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #e3e3e3;
      outline: none;
      padding: 10px;
      font-size: 14px;
    }
    &:not([success]):not([error]):focus {
      box-shadow: 0 0 0 1px #42B549;
      border: 1px solid #42B549;
    }
    &[success] {
      box-shadow: 0 0 0 1px #8BC582;
      border: 1px solid #8BC582;
    }
    &[error] {
      box-shadow: 0 0 0 1px #EB8D70;
      border: 1px solid #EB8D70;
    }
    &[dropdown-menu] {
      cursor: pointer;
      padding-right: 30px;
    }
  }
  .unify-dropdown-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 10px;
    width: 10px;
    border-top: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    transform: translateY(-50%) rotate(135deg);
  }

  .unify-dropdown-container {
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    left: 0;
    top: calc(100% + 3px);
    border-radius: 4px;
    font-size: 14px;
    color: rgba(0,0,0, .7);
    z-index: 4;
    display: none;
    ul {
      position: relative;
      .dropdown-indicator {
        position: absolute;
        background-color: #eff9ef;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: top .2s ease, height .2s ease;
        display: none;
      }
      & > li {
        padding: 15px 20px;
        cursor: pointer;
        position: relative;
        z-index: 5;
        transition: color .15s ease, opacity .15s ease; 
        opacity: .7;
        font-size: 14px;
        &:hover {
          color: #0a9b14;
          opacity: 1;
        }
      }
    }
  }
}

.unify-tab__container {
  .unify-tab-tabs {
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    .unify-tab {
      font-size: 17px;
      color: rgba(0,0,0, .54);
      padding: 15px 20px;
      display: inline-block;
      margin-right: -4px;
      cursor: pointer;
      transition: color .3s ease, background-color .3s ease;
      &--active {
        color: #42B549;
      }
      &:not(.unify-tab--active):hover {
        background-color: #EDFEEE;
        color: #42B549;
      }
    }
    .unify-tab-thumb {
      position: absolute;
      left: 0;
      bottom: 0;
      height:3px;
      background-color: #399C3F;
      transition: width .3s ease, left .3s ease;
    }
  }
}

.unify-tab__content-wrapper {
  .unify-tab__content-container {
    display: none;
    &:first-child {
      display: block;
    }
  }
}

.unify-placeholder {
  &__image  {
    background-color: #eee;
    border-radius: 4px;
    height: 150px;
  }
  &__line{
    background-color: #eee;
    border-radius: 4px;
    height: 14px;
    margin-top: 8px;
    &--small {
      width: 30%;
    }
    &--medium {
      width: 60%;
    }
  }
}

.unify-divider {
  height: 1px;
  background: #E0E0E0;
}

.no-margin {
  margin: 0;
}

.unify-relative {
  position: relative;
}
